body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

}

.cards{
    width: 250px;
    padding: 20px;
    box-shadow: yellow 0 2px 2px 2px;
}
.cards:hover{
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px 10px;
    cursor: pointer;
}
.image-box{
    padding-bottom: 10px;
}

.image-box img{
    width: 150px;
    height: 200px;


}



.details button{
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: orange;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.details button:hover{
    background-color: lightgreen;
}