*{
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    background-color: rgb(249, 249, 125);
    height: 60px;
}

.nav-box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-shop{
    font-size: 1.5rem;
    font-weight: bold;
    color: #2b2525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}